<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="email">
    <form [formGroup]="email">
      <ng-template matStepLabel>Fill out your E-mail address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>E-mail Address</mat-label>
        <input matInput formControlName="emailInput" placeholder="youremail@address.com"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="password">
    <form [formGroup]="password">
      <ng-template matStepLabel>Fill out your password</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passwordInput" type="password"
        required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Confirm your password</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Password Confirmation</mat-label>
        <input matInput formControlName="fourthCtrl" type="password"
        required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Perfect!</p>
    <div>
      <button mat-raised-button color="primary" (click)="onClickRegister()">Register</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>       