<div>
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="20px">
    <mat-grid-tile colspan="1">
      <div>
        <img src="../../assets/images/login.svg" alt="" class="login-img">
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div >
        <h2>Log In</h2>
        <form 
          style="display: flex; flex-direction: column;"
          #loginForm="ngForm"
          (ngSubmit)="onLoginSubmit(loginForm)"
        >
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input 
              matInput 
              placeholder="your@email.com" 
              id="email"
              name="email"
              type="email"
              ngModel
              >
              <!-- <mat-hint></mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input 
              matInput 
              placeholder="your password" 
              id="password"
              name="password"
              type="password" 
              ngModel
            >
            <!-- <mat-hint></mat-hint> -->
          </mat-form-field>
          <button mat-raised-button color="primary">ENTER</button>
        </form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>