<div class="container">
  <mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile colspan="2">
      <div>
        <h1 class="mat-display-4">
          Let's Start <br/>
          Cooking With <br/>
          Popular Recipes
        </h1>
        <p>
          Want to learn cook but confused how to start? <br>
          No need to worry again!
        </p>
        <button mat-raised-button color="primary">GET STARTED</button>
        <button mat-stroked-button style="margin-left: 15px;">SIGN UP</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="img-container">
        <img src="../../assets/images/home.svg" alt="" class="home-img">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>